/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4050cc;
  --ifm-color-primary-dark: #3a48b8;
  --ifm-color-primary-darker: #3340a3;
  --ifm-color-primary-darkest: #2d388f;
  --ifm-color-primary-light: #5362d1;
  --ifm-color-primary-lighter: #6673d6;
  --ifm-color-primary-lightest: #7985db;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: Montserrat,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6ADBF1;
  --ifm-color-primary-dark: #79def2;
  --ifm-color-primary-darker: #5fc4d9;
  --ifm-color-primary-darkest: #55aec1;
  --ifm-color-primary-light: #88e1f4;
  --ifm-color-primary-lighter: #97e5f5;
  --ifm-color-primary-lightest: #a6e9f7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
